{
  "environment": "development",
  "server":{
    "port": 3002
  },
  "mongodb": {
    "host": "localhost",
    "port": 27017,
    "database": "gifcept"
  },
  "authentication": {
    "jwtSecret": "RANDMON STRING",
    "jwtExpiration": "30m"
  },
  "uploadDir": "/path/to/wherever",
  "gifsDir": "/path/to/wherever"
}
